@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
.card {
    width: ;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    box-shadow: 0px 0px 32px 0px rgba(125, 109, 114, 0.12);
  }
  .card::before{
    content: "";
    background-image: conic-gradient(
            transparent 0deg,
            #ff0052 65deg,
            transparent 100deg,
            transparent 190deg,
            #ff0052 245deg,
            transparent 270deg
    );
    width: 150%;
    height: 150%;
    border-radius: 16px;
    position: absolute;
    display: block;
  
  }
  .card::after{
    content: "";
    position: absolute;
    inset: 2px;
    background: white;
    border-radius: 16px;
  }
  
}